ASP.NET Fundamentals/ASP.NET Fundamentals/bin/
ASP.NET Fundamentals/ASP.NET Fundamentals/obj/
ASP.NET Fundamentals/.vs/
ASP.NET Fundamentals/ASP.NET.Fund.Core/bin/
ASP.NET Fundamentals/ASP.NET.Fund.Core/obj/
ASP.NET Fundamentals/ASP.NET.Fund.Data/bin/
ASP.NET Fundamentals/ASP.NET.Fund.Data/obj/